
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=wmsjUYfJFranGO7muCrJfdb+M5gK3iMENEMCrW+n20M

NEXT_PUBLIC_NAME=ktravel.online
NEXT_PUBLIC_API_URL=http://192.168.1.9:8000

# GOOGLE_CLIENT_ID=880076609170-g03thcmhcj24bc3uusi6tudir7gh6hmv.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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


